* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  /* https://unsplash.com/photos/1Shk_PkNkNw */
  background: url(./kill-burger.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  padding-top: 30px;
}

#content {
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-rows: 45px 1fr;
  align-items: center;
  justify-content: center;
}

/* NAV */
nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

a:hover {
  text-decoration: underline;
}
/* NAV */

/* INDEX */
.indexMainContent h1 {
  font-size: 8rem;
}

.indexMainContent button {
  background-color: rgb(126, 7, 7);
  padding: 10px 10px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.indexMainContent button {
  margin-top: 20px;
  padding: 10px 10px;
  text-align: center;
}

.indexMainContent button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.indexMainContent button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.indexMainContent button:hover span {
  padding-right: 25px;
}

.indexMainContent button:hover span:after {
  opacity: 1;
  right: 0;
}
/* INDEX */

/* MENU */
.menuMainContent {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuMainContent h1 {
  color: white;
  font-size: 8rem;
  margin: 30px 0 30px 0;
}

.menuMainContent h2 {
  margin-top: 30px;
  color: white;
  font-size: 4rem;
  text-align: center;
}
/* MENU */
